h2 {
    font-size: 170%;
    color: #800000;
    text-indent: 30px;
}

h3 {
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}

.logo {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
}